.react-chatbot-kit-chat-container {
  width: 60%;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0;
}

.react-chatbot-kit-chat-bot-message {
  width: 60%;
}
.react-chatbot-kit-chat-container {
  position: fixed;
  bottom: 0%;
  right: 0%;
}
