.react-chatbot-kit-chat-container {
  width: 40%;
  position: fixed;
  bottom: 6%;
  right: 0%;
  z-index: 10;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0;
  width: 60%;
}

.react-chatbot-kit-chat-input {
  background-color: antiquewhite;
}

.react-chatbot-kit-chat-message-container {
  background-color: azure;
}

#chatbot-warning-div {
  background-color: "red";
  position: "absolute";
  bottom: "2.5rem";
  width: "100%";
  display: "none";
}
