.Appbar {
  height: 8rem;
  padding-top: 1rem;
  transition: all 0.7s ease-in;
  box-shadow: none !important;
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white !important;
}
